<ion-view title="修改密码" id="page6">
    <ion-content padding="true" class="has-header">
        <form id="changePassword-form1" class="list ">
            <ion-list id="changePassword">
                <label class="item item-input " id="changePassword-input1">
                    <span class="input-label">原始密码</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="changePassword-input2">
                    <span class="input-label">新密码</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="changePassword-input3">
                    <span class="input-label">确认密码</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <a ui-sref="login" id="changePassword-button1" class=" button button-positive  button-block ">确定</a>
            <a ui-sref="login" id="changePassword-button1" class="button button-light  button-block ">取消</a>
        </form>
    </ion-content>
</ion-view>