<ion-view title="修改密码" id="page6">
    <ion-content padding="true" class="has-header">
        <form id="changePassword-form1" class="list ">
            <ion-list id="changePassword">
                <label class="item item-input " id="changePassword-input1">
                    <span class="input-label">原始密码</span>
                    <input type="password" placeholder="" ng-minlength="6" ng-model="user.oldPassword">
                </label>
                <label class="item item-input " id="changePassword-input2">
                    <span class="input-label">新密码</span>
                    <input type="password" placeholder="至少6位密码" ng-minlength="6" ng-model="user.newPassword">
                </label>
                <label class="item item-input " id="changePassword-input3">
                    <span class="input-label">确认密码</span>
                    <input type="password" placeholder="" ng-minlength="6" ng-model="user.confirmPassword">
                </label>
            </ion-list>
             <div class="padding">
                       <p ng-show="!(user.confirmPassword===user.newPassword)">
                       <i class="ion-alert-circled"></i>
                       新密码和确认密码不同！</p>
                   </div>
            <a ui-sref="login" id="changePassword-button1" class=" button button-positive  button-block " ng-disabled="!user.oldPassword||!user.newPassword||!user.confirmPassword||!(user.confirmPassword===user.newPassword)">确定</a>
            <a ui-sref="login" id="changePassword-button1" class="button button-light  button-block ">取消</a>
        </form>
    </ion-content>
</ion-view>