<ion-view title="忘记密码" id="page6">
    <ion-content padding="true" class="has-header">
        <form id="changePassword-form1" name="changePasswordform" class="list " novalidate>
            <ion-list id="changePassword">
                <label class="item item-input " id="changePassword-input1">
                    <span class="input-label">用户名</span>
                    <input type="text" placeholder="" ng-model="user.name" required>
                </label>
                <label class="item item-input " id="changePassword-input2" >

                    <span class="input-label">学校邮箱</span>

                    <input type="email" placeholder="" ng-model="user.email" name="email" type="email" required>
                </label>
               <div class="padding">
                       <p ng-show="changePasswordform.email.$invalid&&changePasswordform.email.$dirty">
                       <i class="ion-alert-circled"></i>
                       您的邮箱输入不正常！
                       </p>
                   </div>
            </ion-list>
            <a ui-sref="login" id="changePassword-button1" class=" button button-positive  button-block " ng-disabled="!user.name||!user.email||!changePasswordform.email.$valid ">确定</a>
            <a ui-sref="login" id="changePassword-button1" class="button button-light  button-block ">取消</a>
        </form>
    </ion-content>
</ion-view>