<ion-view title="登陆" id="page7">
    <ion-content padding="true" class="has-header">
        <form id="login-form2" class="list ">
            <ion-list id="login-list9">
                <label class="item item-input " id="login-input4">
                    <span class="input-label">用户名</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="login-input5">
                    <span class="input-label">密码</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="tabsController.page3" id="login-button2" class=" button button-positive  button-block ">登陆</a>
            <a ui-sref="signup" id="login-button3" class=" button button-positive  button-block button-clear ">注册</a>
        </form>
    </ion-content>
</ion-view>