<ion-view title="logo" id="page14" style="background-color:#FFFFFF;">
    <ion-content padding="false" style="background: url(img/EOp5r6n2RkZt4YCnGRLi_%25E5%259B%25BE%25E7%2589%25871.png) no-repeat center;background-size:cover;" class=" manual-remove-top-padding has-header" scroll="false">
        <div class="spacer" style="width: 320px; height: 75px;"></div>
        <div>
            <img src="img/naagirQBTuOlyONX6vOY_lougou.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 320px; height: 37px;"></div>
        <h1 id="logo-heading9" style="color:#0A50A4;font-weight:400;text-align:center;">外语系</h1>
        <h5 id="logo-heading11" style="color:#0A50A4;text-align:center;">Department of Foreign Languages</h5>
    </ion-content>
</ion-view>