<ion-view title="学习园地" id="page4">
    <ion-content padding="true" class="has-header">
     <!-- refresh content animation -->
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()" spinner="ios-small"></ion-refresher>
        <ion-list id="page4-list6">

            <ion-item class="item-thumbnail-left  "  ng-repeat="article in Article" id="page4-list-item22" ui-sref="tabsController.article_content({id:article.id})">
                <h2>{{article.title}}</h2>
                <p>{{article.content}}</p>
            </ion-item>
            

        </ion-list>
    </ion-content>
</ion-view>