<ion-view title="注册" id="page6">
    <ion-content padding="true" class="has-header">
        <form id="signup-form1" class="list ">
            <ion-list id="signup-list8">
                <label class="item item-input " id="signup-input1">
                    <span class="input-label">姓名</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup-input2">
                    <span class="input-label">用户名</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input " id="signup-input3">
                    <span class="input-label">密码</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <a ui-sref="login" id="signup-button1" class=" button button-positive  button-block ">注册</a>
        </form>
    </ion-content>
</ion-view>