<ion-view title="播放历史" id="page9">
    <ion-content padding="true" class="has-header">
        <ion-list id="page9-list10">
            <ion-item class="item-thumbnail-left item-icon-right  " id="page9-list-item13" ui-sref="tabsController.vedio_title">
                <h2>播放历史视频1</h2>
                <p>已观看20%</p>
                <i class="icon ion-social-youtube-outline"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right  " id="page9-list-item28">
                <h2>播放历史视频2</h2>
                <p>已观看20%</p>
                <i class="icon ion-social-youtube-outline"></i>
            </ion-item>
            <ion-item class="item-thumbnail-left item-icon-right  " id="page9-list-item29">
                <h2>播放历史视频3</h2>
                <p>已观看20%</p>
                <i class="icon ion-social-youtube-outline"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>