<ion-view title="视频详情" id="page5" cache-view="false">  
<!-- cache-view="false" 让视频不在后台播放 -->
    <ion-content padding="false" class="has-header">



        <div style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="vedio_title-video1">
        <!-- {{trustSrc(Video.url)}} -->
        <!-- http://124.16.71.190:8080/wordnet/video/economy and finance/3 lessons on success from an Arab businesswoman（阿拉伯女性成功的 3 个案例）.mp4 -->
         <!--    <iframe ng-src="{{trustSrc(url)}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;" ></iframe>
    
   -->
            <videogular vg-theme="config.theme" frameborder="0" allowfullscreen="true" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                  <vg-media vg-src="config.sources"
                      vg-tracks="config.tracks">
                  </vg-media>
                
                  <vg-controls>
                          <vg-play-pause-button></vg-play-pause-button>
                          <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                          <vg-scrub-bar>
                            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                          </vg-scrub-bar>
                          <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                          <vg-volume>
                            <vg-mute-button></vg-mute-button>
                            <vg-volume-bar></vg-volume-bar>
                          </vg-volume>
                          <vg-playback-button></vg-playback-button>
                          <vg-fullscreen-button></vg-fullscreen-button>
                        </vg-controls>

                  <vg-overlay-play></vg-overlay-play>
                    <vg-poster vg-url='config.plugins.poster'></vg-poster>
            </videogular>

        </div>
        <!-- https://www.youtube.com/embed/9RTkZaX1cH0?rel=0&amp;showinfo=0 -->
        <!-- src="https://www.youtube.com/embed/lTLTs2ZA2JQ?rel=0&amp;showinfo=0" -->
        <div class="row">
        <div id="vedio_title-button-bar3" class=" button-bar">
           	<ul class="slide-tab">

           	<!-- 	<li ng-class="slideIndex == 0 ? 'current':''">
           		 <a id="vedio_title-button5"  ng-click="activeSlide(0)">评论</a>
           	</li>
 -->
            <li ng-class="slideIndex == 1 ? 'current':''">
            	<a id="vedio_title-button6" ng-click="activeSlide(1)">详情</a>
            </li>

           	</ul>
        </div>
      </div>
	<ion-slide-box on-slide-changed="slideChanged(index)" active-slide="slideIndex" show-pager="false">
		<!-- <ion-slide>
      同学们的评论都在这里！
      <div ui-view  name="vedio_comments"></div>
		</ion-slide>
		 -->
		<ion-slide>
      {{Video.title}}
      {{config.tracks}}
      {{config.sources}}
   <!--    <div ui-view name="vedio_details"></div> -->
		</ion-slide>
	</ion-slide-box>
		

    </ion-content>
</ion-view>