<ion-view title="听力视频主目录" id="video_maindir">
    <ion-content padding="true" class="has-header">
        <!-- refresh content animation -->
        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()" spinner="ios-small"></ion-refresher>

        <ion-list id="video_maindir_list">

            <ion-item class="item-thumbnail-left  item-text-wrap" id="video_maindir_list_item" ui-sref="tabsController.page3" ng-click="emitEco()">
                <h2>经济金融</h2>
            </ion-item>

            <ion-item class="item-thumbnail-left  item-text-wrap" id="video_maindir_list_item" ui-sref="tabsController.page3" ng-click="emitEve()">
                <h2>人文艺术</h2>
            </ion-item>

            <ion-item class="item-thumbnail-left  item-text-wrap" id="video_maindir_list_item" ui-sref="tabsController.page3" ng-click="emitArt()">
                <h2>时事热点</h2>
            </ion-item>
            
            <ion-item class="item-thumbnail-left  item-text-wrap" id="video_maindir_list_item" ui-sref="tabsController.videotypesec">
                <h2>学科科普</h2>
            </ion-item>



        </ion-list>
    </ion-content>
</ion-view>